@use '../variables';

.link {
    position: relative;
    color: variables.$blue;
    font-family: variables.$CoFo;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.2s;

    &:hover {
        font-weight: bold;
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 20px;
        height: 12px;
        top: 25%;
        transition: all 0.2s;
        background-image: url('../img/arrow-blue.svg');
        background-position: center;
        background-size: cover;
        right: -30px;
    }

    &:hover::after {
        right: -35px;
    }
}
