@use '../variables';

.swiper-pagination-bullet {
    background: variables.$blue;
    opacity: 1;
    transition: all 0.6s;
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

.swiper-pagination-bullet-active {
    min-width: 23px;
}

.swiper-button-prev,
.swiper-button-next {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: variables.$white;
    top: 45%;

    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);

    &:hover,
    &:focus {
        path {
            transition: stroke 0.2s;
            stroke: variables.$blue;
        }
    }

    &::after {
        display: none;
    }

    svg {
        display: block;
        width: 20px;
        height: auto;
    }
}

.swiper-button-prev {
    left: -20px;
}

.swiper-button-next {
    right: -20px;

    svg {
        transform: rotate(180deg);
    }
}

.swiper {
    overflow: visible;
}

@media (min-width: variables.$desktop) {
    .swiper-slide-prev {
        transition: opacity 0.2s;
        opacity: 0;
    }
}

@media (min-width: variables.$maxWidth) {
    .swiper-button-prev,
    .swiper-button-next {
        top: 40%;
    }
}
