@use 'variables';

* {
  box-sizing: border-box;
}

html {
  background-color: lightgray;
}

body {
  font-family: variables.$mabry;
  color: variables.$dark;
  font-size: 18px;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 40px;
}

h2, h3 {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

p a {
  color: variables.$blue;
  transition: font-weight;

  &:hover {
    font-weight: bold;
  }
}

.header,
.main {
  max-width: variables.$maxWidth;
  margin: 0 auto;
}
