$CoFo: "CoFo Sans", "Arial", sans-serif;
$mabry: "Mabry Pro", "Arial", sans-serif;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//resolutions
$maxWidth: 1920px;

//colors
$white: #FFFFFF;
$blue: #7557FF;
$dark: #373042;
